option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "imageresize.settings.aws_eb"
    PYTHONPATH: "/opt/python/current/app:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "imageresize/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": ".staticfiles/"
packages:
  yum:
    postgresql94-devel: []
    libtiff-devel: []
    libjpeg-turbo-devel: []
    zlib-devel: []
    freetype-devel: []
    lcms2-devel: []
    libwebp-devel: []
container_commands:
  01_migrate:
    command: "django-admin.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "django-admin.py collectstatic --noinput"
files:
  "/home/ec2-user/django-manage.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      source /opt/python/run/venv/bin/activate
      source /opt/python/current/env
      cd /opt/python/current/app
      ./manage.py "$@"


